<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpWarmup>
            <requests>
                <add requestUrl="/" allowedResponseCodes="200-399" warmupContext="" sendMode="Asynchronous" />
            </requests>
        </httpWarmup>
    </system.webServer>
    <system.web>
        <compilation defaultLanguage="c#" />
        <trust level="High" />
    </system.web>
</configuration>
